<mat-toolbar color="primary">
    <button mat-button routerLink="/" class="logo-button">
        Főoldal
      </button>
    <span class="spacer"></span>

    <button mat-button *ngIf="authService.loggedIn | async" routerLink="/cart">
      Kosár megtekintése
    </button>
  <span class="spacer"></span>

    <button mat-button *ngIf="authService.isAdmin$  | async" routerLink="/uploadProducts">
        Termékek feltöltése
      </button>
    
    <button mat-button *ngIf="!(authService.loggedIn | async)" routerLink="/login">
      Bejelentkezés
    </button>
    
    <button mat-button *ngIf="authService.loggedIn | async" [matMenuTriggerFor]="profil">
      Profil
    </button>
    <mat-menu #profil="matMenu">
      <button mat-menu-item>Korábbi rendelések</button>
      <button mat-menu-item routerLink="/favouriteProduct">Kedvenceim megtekintése</button>
      <button mat-menu-item (click)="authService.logout()">Kijelentkezés</button>
    </mat-menu>
</mat-toolbar>
