<div class="layout">
  <aside class="filter-sidebar">
    <h3>Szűrés</h3>
    <div class="filter-group">
      <label for="price-from">Ár (-tól):</label>
      <input id="price-from" type="number" placeholder="Min. ár">
      <label for="price-to">Ár (-ig):</label>
      <input id="price-to" type="number" placeholder="Max. ár">
      <button>Szűrés</button>
    </div>
  </aside>

  <main class="product-list">
    <div *ngFor="let product of products$ | async" class="product-item">
      <mat-card>
        <div class="product-image-container">
          <img src="assets/laptop.jpg" alt="{{product.name}}" class="product-image">
        </div>
        
        <mat-card-content class="card-content">
          <mat-card-title class="product-title">{{ product.name }}</mat-card-title>
          <div class="spacer"></div>
          <mat-card-subtitle class="product-price">{{ product.price | currency: 'HUF' }}</mat-card-subtitle>
          <div class="spacer"></div>
        </mat-card-content>
        
        <mat-card-actions class="product-actions">
          <button mat-flat-button color="primary" (click)="viewProductDetails(product.id)">
            Részletek
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </main>
</div>
